<footer  id="footer">

  <!-- <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h1>Suivre nos actualités</h1>
          <p>Veuillez s'abonner en insérant votre adresse e-mail</p>
          <form >
            <input type="email" name="email" ><input type="submit" value="S'abonner" placeholder="Email...">
          </form>
        </div>
      </div>
    </div>
  </div> -->

  <div class="footer-top">
    <div class="container">
      <div class="row">


<div class="col-lg-12">
  <div class="d-flex justify-content-center">

  <img src="assets/images/logo.png" width="100" alt=""> <p style="display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-left: 14px;" >©All Rights Reserved.</p>


</div>
</div>

      </div>
    </div>
  </div>



</footer><!-- End Footer -->
