<div class="landing-page" id="presentation">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="descripotion">
        <h1>Have no time
          to prepare <span>food?</span> </h1>
           <p>Choose one of our plans, enter delivery time
            and enjoy delicious food without leaving your home!</p>

            <button type="button"   class="btn login">Order Food</button>


      </div>
      <div class="carousel-item active">
        <img src="assets/images/landing-page.png" class="d-block w-100" alt="...">
      </div>

  </div>
</div>
</div>

<div class="container-fluid" id="our-food">

<div class="our-food">

     <div class="row">
      <div class="col-md-6" style="padding-left: 0;    display: flex;
      align-items: center;">
        <img src="assets/images/our-food.png" style="width: 100%;"   alt="...">

      </div>
      <div class="col-md-5">
           <div class="description-food">
            <h1>OUR FOOD</h1>
              <hr>
            <ol class="list" >
              <li>  Signature Pizzas
                <p>Choose one of our plans, enter delivery time.</p>
              </li>
              <li>Oven-Baked Subs
                <p>Choose one of our plans, enter delivery time
                  and enjoy delicious food without leaving your home!</p>
              </li>
              <li>Wings, Sides & More
                <p>Choose one of our plans, enter delivery time.</p>
              </li>

            </ol>
            <button type="button"   class="btn login">Order Food</button>

           </div>
      </div>
     </div>
</div>
</div>




<div class="plan" id="plan">
 <div class="container" style="height: 593px;">

  <div class="row" style="justify-content: center;">
    <div class="title">
      <h2>PLANS</h2>
    </div>
  <div class="col-md-6 plat-1">
    <div class="parg">
      <p>FLAT <span>20%</span> </p>
      <p>Min. Order Value ₹300 </p>
    </div>

  </div>
  <div class="col-md-6 plat-2">
    <div class="parg">
      <p>GET 2 MEDIUM</p>
      <p class="pizza">PIZZA</p>
      <p>AT  ₹199 EACH </p>
    </div>

  </div>


  </div>


  </div>


</div>
<div class="container">
  <div class="title-contact">
    <h2>Contact us</h2>
  </div>
</div>

<section class="contact-us" id="contact">

  <div class="container">


     <div class="row">

      <div class="col-lg-4 sm-5 form-contact">
        <form>
          <div class="mb-3 mt-3">
             <input type="email" class="form-control" placeholder="Full Name" id="exampleInputEmail1" aria-describedby="emailHelp">
           </div>
          <div class="mb-3">
             <input type="number" class="form-control" placeholder="Phone No."    id="exampleInputPassword1">
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Massage</label>
          </div>

          <div class="mb-3 mt-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">I agree with all conditions</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
     </div>


   </div>

   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d102239.4106047218!2d10.060875713245224!3d36.79499200065566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd337f5e7ef543%3A0xd671924e714a0275!2sTunis!5e0!3m2!1sfr!2stn!4v1692697926976!5m2!1sfr!2stn" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </section>


